
.PictureContainer{
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  grid-column: 1;
  grid-row: 2;
  background: red;
  color: blue;
  padding: 2%;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
      1px 3px 8px rgba(39, 44, 49, 0.03);
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column;

}
